beautifulsoup4>=4.6.3
colorama>=0.3.9
dnslib>=0.9.10
dnspython>=1.15.0
ipwhois>=1.1.0
netaddr>=0.7.19
pymongo==3.8.0
pyopenssl>=18.0.0
requests
requests-html>=0.10.0
shodan>=1.13.0
tld>=0.9.3
trans>=2.1.0
validator_collection
selenium>=3.141.0
censys==2.0.0
